@media only screen and (max-width: 270px){
    .save,
.cancel{
  right: .2rem;
  top: 1.5rem;
  height:5%;
  width: 3.5rem;
}
}

@media only screen and (min-width: 400px){
    .save,
.cancel{
  right: 1rem;
  top: 1.5rem;
  height:5%;
  width: 3.5rem;
}
.save{
    right: 6rem;
}
}